extends layout

block scripts
  script(src='/javascripts/post_template.js')

block content
  if authorised
    h1 Welcome to the Response page
    p(id='response')
  else
    h1 You can not see this page

block footer
  p This is response page footer